{
    categories = (
        {
            name = "Displaay Glyphset";
            icon = DisplaayTemplate;
            subGroup = (
                {
                    name = "Full Set";
                    list = (
						A,
						Aacute,
						Abreve,
						Acircumflex,
						Adieresis,
						Adotbelow,
						Agrave,
						Amacron,
						Aogonek,
						Aring,
						Aringacute,
						Atilde,
						AE,
						AEacute,
						B,
						C,
						Cacute,
						Ccaron,
						Ccedilla,
						Ccircumflex,
						Cdotaccent,
						D,
						Dcaron,
						Dcroat,
						Eth,
						E,
						Eacute,
						Ebreve,
						Ecaron,
						Ecircumflex,
						Edieresis,
						Edotaccent,
						Edotbelow,
						Egrave,
						Emacron,
						Eogonek,
						Etilde,
						Schwa,
						F,
						G,
						Gbreve,
						Gcaron,
						Gcircumflex,
						Gcommaaccent,
						Gdotaccent,
						Gmacron,
						H,
						Hbar,
						Hcircumflex,
						I,
						IJ,
						Iacute,
						Ibreve,
						Icircumflex,
						Idieresis,
						Idotaccent,
						Idotbelow,
						Igrave,
						Imacron,
						Iogonek,
						Itilde,
						J,
						Jacute,
						Jcircumflex,
						K,
						Kcommaaccent,
						L,
						Lacute,
						Lcaron,
						Lcommaaccent,
						Ldot,
						Lslash,
						M,
						N,
						Nacute,
						Ncaron,
						Ncommaaccent,
						Nhookleft,
						Ntilde,
						Eng,
						O,
						Oacute,
						Obreve,
						Ocircumflex,
						Odieresis,
						Odotbelow,
						Ograve,
						Ohungarumlaut,
						Omacron,
						Oogonek,
						Oslash,
						Oslashacute,
						Otilde,
						OE,
						P,
						Thorn,
						Q,
						R,
						Racute,
						Rcaron,
						Rcommaaccent,
						S,
						Sacute,
						Scaron,
						Scedilla,
						Scircumflex,
						Scommaaccent,
						Germandbls,
						T,
						Tbar,
						Tcaron,
						Tcedilla,
						Tcommaaccent,
						U,
						Uacute,
						Ubreve,
						Ucircumflex,
						Udieresis,
						Udotbelow,
						Ugrave,
						Uhungarumlaut,
						Umacron,
						Uogonek,
						Uring,
						Utilde,
						V,
						W,
						Wacute,
						Wcircumflex,
						Wdieresis,
						Wgrave,
						X,
						Y,
						Yacute,
						Ycircumflex,
						Ydieresis,
						Ygrave,
						Ymacron,
						Ytilde,
						Z,
						Zacute,
						Zcaron,
						Zdotaccent,
						Lcommaaccent.loclMAH,
						Ncommaaccent.loclMAH,
						a,
						aacute,
						abreve,
						acircumflex,
						adieresis,
						adotbelow,
						agrave,
						amacron,
						aogonek,
						aring,
						aringacute,
						atilde,
						ae,
						aeacute,
						b,
						c,
						cacute,
						ccaron,
						ccedilla,
						ccircumflex,
						cdotaccent,
						d,
						dcaron,
						dcroat,
						eth,
						e,
						eacute,
						ebreve,
						ecaron,
						ecircumflex,
						edieresis,
						edotaccent,
						edotbelow,
						egrave,
						emacron,
						eogonek,
						etilde,
						schwa,
						f,
						g,
						gbreve,
						gcaron,
						gcircumflex,
						gcommaaccent,
						gdotaccent,
						gmacron,
						h,
						hbar,
						hcircumflex,
						i,
						idotless,
						iacute,
						ibreve,
						icircumflex,
						idieresis,
						idotaccent,
						idotbelow,
						igrave,
						imacron,
						iogonek,
						itilde,
						ij,
						j,
						jdotless,
						jacute,
						jcircumflex,
						k,
						kcommaaccent,
						kgreenlandic,
						l,
						lacute,
						lcaron,
						lcommaaccent,
						ldot,
						lslash,
						m,
						n,
						nacute,
						ncaron,
						ncommaaccent,
						nhookleft,
						ntilde,
						eng,
						o,
						oacute,
						obreve,
						ocircumflex,
						odieresis,
						odotbelow,
						ograve,
						ohungarumlaut,
						omacron,
						oogonek,
						oslash,
						oslashacute,
						otilde,
						oe,
						p,
						thorn,
						q,
						r,
						racute,
						rcaron,
						rcommaaccent,
						s,
						sacute,
						scaron,
						scedilla,
						scircumflex,
						scommaaccent,
						germandbls,
						longs,
						t,
						tbar,
						tcaron,
						tcedilla,
						tcommaaccent,
						u,
						uacute,
						ubreve,
						ucircumflex,
						udieresis,
						udotbelow,
						ugrave,
						uhungarumlaut,
						umacron,
						uogonek,
						uring,
						utilde,
						v,
						w,
						wacute,
						wcircumflex,
						wdieresis,
						wgrave,
						x,
						y,
						yacute,
						ycircumflex,
						ydieresis,
						ygrave,
						ymacron,
						ytilde,
						z,
						zacute,
						zcaron,
						zdotaccent,
						lcommaaccent.loclMAH,
						ncommaaccent.loclMAH,
						ordfeminine,
						ordmasculine,
						Omega,
						pi,
						zero,
						one,
						two,
						three,
						four,
						five,
						six,
						seven,
						eight,
						nine,
						zero.zero,
						zero.blackCircled,
						one.blackCircled,
						two.blackCircled,
						three.blackCircled,
						four.blackCircled,
						five.blackCircled,
						six.blackCircled,
						seven.blackCircled,
						eight.blackCircled,
						nine.blackCircled,
						zero.circled,
						one.circled,
						two.circled,
						three.circled,
						four.circled,
						five.circled,
						six.circled,
						seven.circled,
						eight.circled,
						nine.circled,
						zero.tf,
						one.tf,
						two.tf,
						three.tf,
						four.tf,
						five.tf,
						six.tf,
						seven.tf,
						eight.tf,
						nine.tf,
						zero.tf.zero,
						zero.dnom,
						one.dnom,
						two.dnom,
						three.dnom,
						four.dnom,
						five.dnom,
						six.dnom,
						seven.dnom,
						eight.dnom,
						nine.dnom,
						zero.numr,
						one.numr,
						two.numr,
						three.numr,
						four.numr,
						five.numr,
						six.numr,
						seven.numr,
						eight.numr,
						nine.numr,
						fraction,
						onehalf,
						onequarter,
						threequarters,
						oneeighth,
						threeeighths,
						fiveeighths,
						seveneighths,
						zeroinferior,
						oneinferior,
						twoinferior,
						threeinferior,
						fourinferior,
						fiveinferior,
						sixinferior,
						seveninferior,
						eightinferior,
						nineinferior,
						zerosuperior,
						onesuperior,
						twosuperior,
						threesuperior,
						foursuperior,
						fivesuperior,
						sixsuperior,
						sevensuperior,
						eightsuperior,
						ninesuperior,
						space,
						nbspace,
						CR,
						.notdef,
						period,
						comma,
						colon,
						semicolon,
						ellipsis,
						exclam,
						exclamdown,
						question,
						questiondown,
						periodcentered,
						bullet,
						asterisk,
						numbersign,
						slash,
						backslash,
						colon.case,
						exclamdown.case,
						questiondown.case,
						periodcentered.case,
						bullet.case,
						hyphen,
						softhyphen,
						endash,
						emdash,
						underscore,
						hyphen.case,
						softhyphen.case,
						endash.case,
						emdash.case,
						parenleft,
						parenright,
						braceleft,
						braceright,
						bracketleft,
						bracketright,
						blacklenticularbracketleft,
						blacklenticularbracketright,
						parenleft.case,
						parenright.case,
						braceleft.case,
						braceright.case,
						bracketleft.case,
						bracketright.case,
						blacklenticularbracketleft.case,
						blacklenticularbracketright.case,
						quotesinglbase,
						quotedblbase,
						quotedblleft,
						quotedblright,
						quoteleft,
						quoteright,
						guillemetleft,
						guillemetright,
						guilsinglleft,
						guilsinglright,
						quotedbl,
						quotesingle,
						guillemetleft.case,
						guillemetright.case,
						guilsinglleft.case,
						guilsinglright.case,
						florin,
						baht,
						at,
						ampersand,
						paragraph,
						section,
						copyright,
						registered,
						published,
						trademark,
						degree,
						minute,
						second,
						bar,
						brokenbar,
						dagger,
						literSign,
						daggerdbl,
						estimated,
						numero,
						at.case,
						bitcoin,
						cent,
						currency,
						dollar,
						dong,
						euro,
						franc,
						hryvnia,
						liraTurkish,
						naira,
						peso,
						ruble,
						rupeeIndian,
						sheqel,
						sterling,
						won,
						yen,
						plus,
						minus,
						multiply,
						divide,
						equal,
						notequal,
						greater,
						less,
						greaterequal,
						lessequal,
						plusminus,
						approxequal,
						asciitilde,
						logicalnot,
						asciicircum,
						infinity,
						integral,
						Ohm,
						increment,
						product,
						summation,
						radical,
						micro,
						partialdiff,
						percent,
						perthousand,
						upArrow,
						northEastArrow,
						rightArrow,
						southEastArrow,
						downArrow,
						southWestArrow,
						leftArrow,
						northWestArrow,
						blackCircle,
						whiteCircle,
						lozenge,
						dieresiscomb,
						dotaccentcomb,
						gravecomb,
						acutecomb,
						hungarumlautcomb,
						caroncomb.alt,
						circumflexcomb,
						caroncomb,
						brevecomb,
						ringcomb,
						tildecomb,
						macroncomb,
						commaturnedabovecomb,
						dotbelowcomb,
						commaaccentcomb,
						cedillacomb,
						ogonekcomb,
						strokeshortcomb,
						strokelongcomb,
						dieresiscomb.case,
						dotaccentcomb.case,
						gravecomb.case,
						acutecomb.case,
						hungarumlautcomb.case,
						circumflexcomb.case,
						caroncomb.case,
						brevecomb.case,
						ringcomb.case,
						tildecomb.case,
						macroncomb.case,
						slashshortcomb,
						slashlongcomb,
						dieresis,
						dotaccent,
						grave,
						acute,
						hungarumlaut,
						circumflex,
						caron,
						breve,
						ring,
						tilde,
						macron,
						cedilla,
						ogonek,
						ijacute,
						IJacute,
						commaturnedabove,
						dotbelow,
						doubleprimemod,
						primemod,
                    );
                },
                {
                    name = "Numbers";
                    list = (
						zero,
						one,
						two,
						three,
						four,
						five,
						six,
						seven,
						eight,
						nine,
						zero.zero,
						zero.blackCircled,
						one.blackCircled,
						two.blackCircled,
						three.blackCircled,
						four.blackCircled,
						five.blackCircled,
						six.blackCircled,
						seven.blackCircled,
						eight.blackCircled,
						nine.blackCircled,
						zero.circled,
						one.circled,
						two.circled,
						three.circled,
						four.circled,
						five.circled,
						six.circled,
						seven.circled,
						eight.circled,
						nine.circled,
						zero.tf,
						one.tf,
						two.tf,
						three.tf,
						four.tf,
						five.tf,
						six.tf,
						seven.tf,
						eight.tf,
						nine.tf,
						zero.tf.zero,
						zero.dnom,
						one.dnom,
						two.dnom,
						three.dnom,
						four.dnom,
						five.dnom,
						six.dnom,
						seven.dnom,
						eight.dnom,
						nine.dnom,
						zero.numr,
						one.numr,
						two.numr,
						three.numr,
						four.numr,
						five.numr,
						six.numr,
						seven.numr,
						eight.numr,
						nine.numr,
						fraction,
						onehalf,
						onequarter,
						threequarters,
						oneeighth,
						threeeighths,
						fiveeighths,
						seveneighths,
						zeroinferior,
						oneinferior,
						twoinferior,
						threeinferior,
						fourinferior,
						fiveinferior,
						sixinferior,
						seveninferior,
						eightinferior,
						nineinferior,
						zerosuperior,
						onesuperior,
						twosuperior,
						threesuperior,
						foursuperior,
						fivesuperior,
						sixsuperior,
						sevensuperior,
						eightsuperior,
						ninesuperior
                        
                    );
                },
                {
                    name = "Brackets";
                    list = (
						parenleft,
						parenright,
						braceleft,
						braceright,
						bracketleft,
						bracketright,
						blacklenticularbracketleft,
						blacklenticularbracketright,
						parenleft.case,
						parenright.case,
						braceleft.case,
						braceright.case,
						bracketleft.case,
						bracketright.case,
						blacklenticularbracketleft.case,
						blacklenticularbracketright.case
                        
                    );
                },
                {
                    name = "Symbols";
                    list = (
						florin,
						baht,
						at,
						ampersand,
						paragraph,
						section,
						copyright,
						registered,
						published,
						trademark,
						degree,
						minute,
						second,
						bar,
						brokenbar,
						dagger,
						literSign,
						daggerdbl,
						estimated,
						numero,
						at.case,
						bitcoin,
						cent,
						currency,
						dollar,
						dong,
						euro,
						franc,
						hryvnia,
						liraTurkish,
						naira,
						peso,
						ruble,
						rupeeIndian,
						sheqel,
						sterling,
						won,
						yen,
						plus,
						minus,
						multiply,
						divide,
						equal,
						notequal,
						greater,
						less,
						greaterequal,
						lessequal,
						plusminus,
						approxequal,
						asciitilde,
						logicalnot,
						asciicircum,
						infinity,
						integral,
						Ohm,
						increment,
						product,
						summation,
						radical,
						micro,
						partialdiff,
						percent,
						perthousand,
						upArrow,
						northEastArrow,
						rightArrow,
						southEastArrow,
						downArrow,
						southWestArrow,
						leftArrow,
						northWestArrow,
						blackCircle,
						whiteCircle,
						lozenge
                    );
                },
                {
                    name = "Accents";
                    list = (
						dieresiscomb,
						dotaccentcomb,
						gravecomb,
						acutecomb,
						hungarumlautcomb,
						caroncomb.alt,
						circumflexcomb,
						caroncomb,
						brevecomb,
						ringcomb,
						tildecomb,
						macroncomb,
						commaturnedabovecomb,
						dotbelowcomb,
						commaaccentcomb,
						cedillacomb,
						ogonekcomb,
						strokeshortcomb,
						strokelongcomb,
						slashshortcomb,
						slashlongcomb,
						dieresiscomb.case,
						dotaccentcomb.case,
						gravecomb.case,
						acutecomb.case,
						hungarumlautcomb.case,
						circumflexcomb.case,
						caroncomb.case,
						brevecomb.case,
						ringcomb.case,
						tildecomb.case,
						macroncomb.case,
						dieresis,
						dotaccent,
						grave,
						acute,
						hungarumlaut,
						circumflex,
						caron,
						breve,
						ring,
						tilde,
						macron,
						cedilla,
						ogonek
                    );
                }
            );
        },
    );
}
